APP_NAME=moziketo-wave
APP_ENV=production
DEBUG=false
API_V1_PREFIX=/api/v1

SECRET_KEY=change-me-in-production-use-openssl-rand
DATABASE_URL=postgresql+asyncpg://moziketo:moziketo@postgres:5432/moziketo
REDIS_URL=redis://redis:6379/0
CORS_ORIGINS=https://pwa.moziketo.ir,https://moziketo.ir,http://localhost:3000

POSTGRES_USER=moziketo
POSTGRES_PASSWORD=change-me-in-production
POSTGRES_DB=moziketo
